.all-products-row.row{
    justify-content: space-between;
}

.products-col.col {
    max-width: fit-content;
}

.products-row.row {
    max-width: 966px;
    margin-top: 48px;
}

.products-container {
    margin-top: 48px;
}

.products-header {
    text-align: left;
    max-width: 966px;
    margin-left: auto;
    margin-right: auto;
}

h3.products-header {
    font-weight: 700;
    font-size: 24px;
}

p.products-header {
    font-weight: 500;
    font-size: 14px;
}

.sidebar-col.col {
    max-width: fit-content;
}

.sidebar-title {
    font-weight: 700;
    text-align: left;
    margin-left: 24px;
    margin-top: 16px;
}

.sidebar-category.nav-link {
    font-weight: 700;
    font-size: 18px;
    color: #7C7C7C;
    text-align: left;
    margin-left: 32px;
    margin-top: 14px;
    &:hover {
        color: black;
        cursor: pointer;
    }
}

.sidebar-category.subcategory.nav-link {
    margin-left: 64px;
}

.sidebar-category.tag.nav-link {
    margin-left: 96px;
}

.sort-by-dropdown.dropdown {
    width: 966px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: right;
}

.sort-by-dropdown.btn.btn-primary {
    border-radius: 0px;
    border: 2px solid black;
    background-color: #FAF9F8;
    color: black;
    font-weight: 400;
    &:hover {
        color: white;
        background-color: black;
        border: 2px solid black;
    }
    &:active {
        background-color: black;
    }
}

.sort-by-dropdown.btn.show.btn-primary {
    color: white;
    background-color: black;
    border: 2px solid black;
    &:active {
        background-color: black;
    }
}

.sort-by-dropdown.dropdown-menu.show {
    border-radius: 0px;
}

.sort-by-option.dropdown-item:active {
    background-color: #FAF9F8;
    color: black;
}

.no-results {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.pagination-btn {
    border: none;
    background-color: #FAF9F8;
    color: black;
    &:hover {
        text-decoration: underline;
    }
}


