#root {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
  background-color: var(--main-background);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
