.cart-card.card {
    border: none;
    border-radius: 0px;
    padding: 24px;
    flex-direction: row;
}

.cart-card-image.card-img {
    width: 149px;
    height: 149px;
    object-fit: cover;
}

.cart-card-body.card-body {
    background-color: white;
}

.cart-card-title {
    background-color: white;
    margin-bottom: 4px;
}

.cart-card-price.card-subtitle {
    font-size: 20px;
    margin-top: 4px;
}

.cart-card-size.card-text {
    font-size: 12px;
}

.cart-card-col-1 {
    text-align: left;
    margin: 8px;
}

.cart-card-col-2 {
    text-align: right;
}

.cart-card-size-button {
    color: black;
    background-color: white;
    min-width: 24px;
    height: 24px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-left: 8px;
    margin-top: 8px;
    &:hover{
        cursor: default;
    }
}

.cart-card-qty-text.card-text {
    font-weight: 400;
    font-size: 12px;
    margin-top: 8px;
}

.cart-card-qty-input {
    margin-left: 8px;
    background-color: white;
    border: 1px solid black;
    max-width: 60%;
    color: black;
    padding: 4px;
}