.checkout-header {
    text-align: left;
    font-weight: 600;
}

.checkout-card.card {
    border: none;
    border-radius: 0px;
    background-color: var(--second-background);
    margin-top: 24px;
    text-align: left;
    padding: 24px;
    color: var(--text-color);
    &:last-child {
        margin-bottom: 40px;
    }
}

.checkout-card-title.card-title {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.checkout-card-body.card-body {
    background-color: inherit;
}

.order-details.card {
    background-color: inherit;
    flex-direction: row;
    padding: 0px;
    :first-child {
        margin-left: 0px;
    }
    :last-child {
        margin-right: 0px;
    }
}

.checkout-form-label {
    font-size: 12px;
    color: var(--text-color);
    min-width: 160px;
}

.checkout-form-control.form-control {
    border: 1px solid var(--text-color);
    border-radius: 0px;
    height: 32px;
    font-size: 12px;
    background-color: var(--second-background);
    color: var(--text-color);
    &:focus {
        background-color: var(--second-background);
    }
}

.personal-info-row-2 {
    margin-bottom: 40px;
}

.checkout-btn-row {
    justify-content: center;
}

.checkout-card-btn {
    margin-top: 24px !important;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 50% !important;
    height: 44px;
    border: none;
}

.checkout-save {
    background-color: black;
    color: white;
}

.checkout-cancel {
    background-color: inherit;
    color: black;
}

.state-select {
    background-color: var(--second-background);;
    color: var(--text-color);
    height: 32px;
    font-size: 12px;
    width: 100%;
}

.order-detail-img {
    width: 149px;
    height: 149px;
    object-fit: cover;
    margin: 8px;
}

img.checkout-card-edit {
    filter: var(--svg-filter);
}

.checkout-total-card.card {
    border: none;
    border-radius: 0px;
    padding: 40px;
    padding-top: 20px;
    margin-top: 24px;
    background-color: var(--second-background);
    color: var(--text-color);
}

.checkout-total-text {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0px;
}

.order-btn.btn {
    border: none;
    border-radius: 0px;
    width: 100%;
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    padding: 12px;
    margin-top: 24px;
    &:disabled {
        background-color: black;
    }
}

.extra-items-card {
    display: flex;
    width: 149px;
    height: 149px;
    margin: 8px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .checkout-row {
        flex-direction: column;
    }
}