.footer {
    background-color: #FFECDA;
}

.footer.bottom {
    margin-bottom: 0;
    padding-left: 72px;
}

.footer.top {
    padding-left: 72px;
    padding-top: 24px;
}

.footer-logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #E13636;
    padding-top: 10px;
    margin-bottom: 70px;
}

h2.news-letter {
    font-size: 40px;
    font-weight: 700;
}

h3.news-letter {
    font-size: 24px;
    font-weight: 700;
}

div.footer-link {
    display: block;
}

h5.footer-link {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

a.footer-link {
    color: black;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-left: 0px !important;
}

.news-letter.col-6 {
    text-align: left;
    height: 398px;
    vertical-align: top;
}

.input-group {
    padding-top: 30px;
}

.subscribe-input.form-control {
    max-height: 32px;
    background-color: #FFECDA;
    border-color: black;
    max-width: 20rem;
}

.subscribe-input.form-control:focus {
    background-color: #FFECDA;
    border-color: black;
}

.subscribe-input.form-control::placeholder {
    font-size: 12px;
    font-weight: 400;
}

.subscribe-btn.btn {
    background-color: black;
    border-color: black;
    max-height: 32px;
    font-size: 14px;
    font-weight: 700;
}

.subscribe-btn.btn:hover {
    background-color: black;
    border-color: black;
}

div.footer-link.col {
    vertical-align: top;
    height: 398px;
}