.mobile-navbar.navbar.navbar-expand {
    background-color: #FFECDA;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-logo-col.col {
    max-width: 40%;
    align-items: center;
}

.mobile-logo.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    margin-left: 24px;
    max-width: fit-content;
    padding-top: 0px;
}

.mobile-logo-text {
    font-size: 12px;
    max-width: fit-content;
    margin: 0px;
    color: #C71E1E;
    font-weight: 800;
}

.mobile-logo-svg {
    width: 39px;
}

.mobile-links-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    align-items: center;
}

.mobile-navbar-link {
    height: fit-content;
}

.mobile-dropdown.container {
    background-color: white;
    position: absolute;
    top: 80px;
    z-index: 99;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    height: 91vh;
    font-size: 30px;
    max-width: 100vw;
}

.mobile-dropdown-row.row {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.mobile-dropdown-link.nav-link {
    width: calc(100vw - 48px);
}

.forward-svg {
    width: 24px !important;
    height: 24px;
    padding: 0px !important;
}

.mobile-search-col {
    display: flex;
    justify-content: space-between;
}

.mobile-search-btn {
    flex-grow: 0.1;
}

.mobile-search-bar {
    background-color: inherit;
    border: none;
    flex-grow: 0.8;
    color: black;
    &::placeholder {
        color: black;
        font-weight: 500;
    }
}

.mobile-close-search {
    align-self: flex-end;
    flex-grow: 0.1;
    max-height: 24px;
}

@media (max-width: 712px) {
    .checkout-nav-container.container {
        flex-direction: column;
    }
    .back-to-cart-col {
        display: flex;
        width: 100%;
    }
}




