.bottom {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.logo h1 {
    font-size: 60px;
    padding-top: 10px;
}

.navigationDivider {
    margin: 0px;
}