.category.nav-link {
    color: black;
    font-size: 14px;
}

.navigation-bar {
    background-color: #FFECDA;
}

.top-navigation-container.container-fluid {
    padding-top: 24px;
}

.bottom.navbar-light {
    padding-top: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.logo-column.col {
    padding-left: 24px;
}

.search-column.col {
    min-width: 40%;
}

.links-column.col {
    display: flex;
    justify-content: end;
}

h1.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #E13636;
    margin-bottom: 0px;
}

.header-logo.navbar-brand {
    display: flex;
    width: fit-content;
}

div.search-group.input-group {
    border: 1px solid #484343;
    border-radius: 4px;
    padding-top: 0px;
    align-items: center;
}

a.search-button {
    background-color: #FFECDA;
    color: #484343;
    max-height: 24px;
    padding-left: 5px;
}

.search-bar.form-control {
    padding-top: 4px;
    background-color: #FFECDA;
    border: none;
}

.search-bar.form-control:focus {
    background-color: #FFECDA; 
    border: none;
}

.search-bar.form-control::placeholder {
    font-size: 12px;
    font-weight: 400;
}

p.login-link {
    margin-bottom: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
}

p.favorites-link {
    margin-bottom: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
}

p.cart-link {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
}

svg.account-svg {
    font-size: 18px;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 3px;
}

svg.search-svg {
    font-size: 24px;
}
