.productCard.card {
    border: none;
    text-align: left;
    width: 306px;
}

div.card-body {
    padding-left: 0;
    background-color: #FAF9F8;
}

img.card-img {
    border-radius: 0;
}

.card-title.h5 {
    font-weight: 700;
    font-size: 16px;
}

p.card-text {
    font-weight: 500;
    font-size: 14px;
}