.productCard {
    width: 20rem;
    margin: 4rem auto;
    padding: 1rem;
    border: black 3px solid;
    border-radius: 5px;
    align-items: center;
    & :hover {
        box-shadow: 5px 5px 5px #000;
    }
}

.productImg{
    max-width: 20vw;
}