.productCard.card {
    border: none;
    text-align: left;
    width: min-content;
}

.product-link {
    max-width: fit-content;
}

div.card-body {
    padding-left: 0;
    background-color: #FAF9F8;
}

img.card-img {
    border-radius: 0;
    width: 306px;
}

.card-title.h5 {
    font-weight: 700;
    font-size: 16px;
}

p.card-text {
    font-weight: 500;
    font-size: 14px;
}

.card-column.col {
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
}

@media (max-width: 615px) {
    img.card-img {
        width: 50vw;
        height: 80vw;
    }
}