.product-container {
    margin-top: 135px;
    margin-bottom: 359px;
}

.product-image {
    width: 100%;
    max-width: 636px;
}

.product-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.product-details.col {
    text-align: left;
}

.product-image.col {
    max-width: fit-content;
}

.product-price {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 24px;
}

.product-description {
    font-weight: 500;
    font-size: 14px;
}

.color-radio {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px;
    margin-bottom: 32px;
}

.product-option-label {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}

.size-radio {
    min-width: 30px;
    height: 30px;
    border: 1px solid var(--text-color);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 32px;
}

.add-cart-btn {
    background-color: black;
    border: none;
    font-weight: 700;
    font-size: 14px;
    width: 135px;
    height: 40px;
    margin-right: 16px;
}

.favorite-btn {
    background-color: var(--favorite-background);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

@media (max-width: 768px) {
    .product-row {
        flex-direction: column;
    }
    .product-image {
        width: 100%;
        max-height: none;
        align-self: center;
    }
    .product-container.container {
        margin: 0px;
        max-width: 100vw;
        margin-top: 24px;
        margin-bottom: 359px;
    }
    .product-details.col {
        max-width: inherit;
        margin-top: 24px;
    }
}